<div class="col-md-8 banner-sec">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <carousel class="carousel-inner" role="listbox" >
          <slide class="carousel-main active">
              <img class="d-block img-fluid" src="assets/images/house/5.jpg" alt="First slide">
              
            
          </slide>
          <slide class="carousel-main">
              <img class="d-block img-fluid" src="assets/images/house/6.jpg" alt="Second slide">
              
           
          </slide>
          <slide class="carousel-main">
              <img class="d-block img-fluid" src="assets/images/house/7.jpg" alt="Third  slide">
           
             
          </slide>
      </carousel> 
</div>
</div>