<!-- EDIT House MODAL START-->


<div class="row"  >
          <button type="button"  class="btn btn-primary" *ngIf="modalProp.userRoleStatus == 'Admin'" (click)="onUpdateModal(hId)" >Wijzig<i class="fas fa-edit"></i></button>
    </div>



<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT HOUSE DETAILS</h4>
    <button type="button" class="close pull-right"  (click)="modalProp.modalRef.hide()" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalProp.modalMessage}}</p>
    <form [formGroup]="fc.updateForm" (ngSubmit)="onUpdate()" >
      <ul class="list-group">
        <li class="list-group-item" >
        </li>
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="houseTitle"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <input type="text" id="name" formControlName="name" class="form-control" placeholder="eg: City" aria-label="name" aria-describedby="houseTitle">
            </div>
            <div *ngIf="fc._name.touched && fc.name.errors" class="errorMessage" >
                <span *ngIf="fc._name.hasError('required')">Stad is verplicht.</span>
                <span *ngIf="fc._name.hasError('maxlength')">De naam mag niet langer dan 50 tekens zijn.</span>
              </div>
        </li>
        <li class="list-group-item">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="houseDescription"><i class="fa fa-pencil-square-o"></i></span>
                </div>
                <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'undo', 'bulletedList', 'numberedList' ] }"  formControlName="description"><textarea formControlName="description" class="form-control" placeholder="Beschrijf het huis - Max 150 Tekens" aria-label="Description" aria-describedby="houseDescription"></textarea></ckeditor>
              </div>
              <div class="errorMessage" *ngIf="fc._description.touched && fc.description.errors">
                  <span *ngIf="fc._description.hasError('required')">Beschrijving is verplicht.</span>
                </div>
        </li>
      
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-usd"></i></span>
            </div>
            <input formControlName="price" type="text" class="form-control" placeholder="eg: 999.99">
          </div>
          <div class="errorMessage" *ngIf="fc._price.touched && fc.price.errors">
              <span *ngIf="fc._price.hasError('required')">Prijs is verplicht.</span>
              <span *ngIf="fc._price.hasError('pattern')" >Prijs moet een getal zijn</span>
  
            </div>
        </li>
        <li class="list-group-item">
          <app-upload (UploadFileNamesChange)='UploadFileNamesChange($event)'></app-upload>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-usd"></i></span>
            </div>
            <input formControlName="latitude" type="text" class="form-control" placeholder="Latitude">
          </div>
          <div *ngIf="fc._latitude.touched && fc.latitude.errors" class="errorMessage" >
              <span *ngIf="fc._latitude.hasError('required')">Latitude is verplicht.</span>
              <span *ngIf="fc._latitude.hasError('pattern')">Latitude mag geen letters bevatten.</span>

            </div>
        </li>
        <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
              </div>
              <input formControlName="longitude" type="text" class="form-control" placeholder="Longitude">
            </div>
            <div *ngIf="fc._longitude.touched && fc.longitude.errors" class="errorMessage" >
                <span *ngIf="fc._longitude.hasError('required')">Longitude is verplicht.</span>
                <span *ngIf="fc._longitude.hasError('pattern')">Longitude mag geen letters bevatten.</span>
              </div>
          </li>
        <li class="list-group-item">
          <button   class="btn btn-primary btn-block" >UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT HOUSE MODAL END-->