

<!-- ADD HOUSE MODAL START-->
<button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="modalProp.userRoleStatus == 'Admin'" (click)="onAddHouse()" ><i class="fa fa-plus"></i> Huis toevoegen</button><br>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW HOUSE</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalProp.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase"></p>
    <form [formGroup]="fc.insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="houseTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Stad" aria-label="name" aria-describedby="houseTitle">
          </div>
          <div *ngIf="fc.name.touched && fc.name.errors" class="errorMessage" >
            <span *ngIf="fc.name.hasError('required')">Stad is verplicht.</span>
            <span *ngIf="fc.name.hasError('maxlength')">De naam mag niet langer dan 50 tekens zijn.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="houseDescription"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <ckeditor [editor]="Editor" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'undo' , 'list' ,'bulletedList', 'numberedList' ] }" formControlName="description"><textarea formControlName="description" class="form-control" placeholder="Beschrijf het huis - Max 150 Tekens" aria-label="Description" aria-describedby="houseDescription"></textarea></ckeditor>
          </div>
          <div class="errorMessage" *ngIf="fc.description.touched && fc.description.errors">
            <span *ngIf="fc.description.hasError('required')">Beschrijving is verplicht.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-usd"></i></span>
            </div>
            <input formControlName="price" type="text" class="form-control" placeholder="Prijs">
          </div>
          <div class="errorMessage" *ngIf="fc.price.touched && fc.price.errors">
            <span *ngIf="fc.price.hasError('required')">Prijs is verplicht.</span>
            <span *ngIf="fc.price.hasError('pattern')" >Prijs moet een getal zijn. </span>
            <span *ngIf="fc.price.hasError('min')" >Prijs moet een positief getal zijn.</span>

          </div>
        </li>
        <li class="list-group-item">
          
          <app-upload (UploadFileNamesChange)='UploadFileNamesChange($event)'></app-upload>
        </li>
        <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-usd"></i></span>
              </div>
              <input formControlName="latitude" type="text" class="form-control" placeholder="Latitude">
            </div>
            <div *ngIf="fc.latitude.touched && fc.latitude.errors" class="errorMessage" >
                <span *ngIf="fc.latitude.hasError('required')">Latitude is verplicht.</span>
                <span *ngIf="fc.latitude.hasError('pattern')">Latitude mag geen letters bevatten.</span>

              </div>
          </li>
          <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-usd"></i></span>
                </div>
                <input formControlName="longitude" type="text" class="form-control" placeholder="Longitude">
              </div>
              <div *ngIf="fc.longitude.touched && fc.longitude.errors" class="errorMessage" >
                  <span *ngIf="fc.longitude.hasError('required')">Longitude is verplicht.</span>
                  <span *ngIf="fc.longitude.hasError('pattern')">Longitude mag geen letters bevatten.</span>
                </div>
            </li>
        <li class="list-group-item">
          <button   class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD HOUSE MODAL START-->