<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">

    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow-2">
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]='["/home"]'>Home</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus" >
          <a class="nav-link text-dark"  [routerLink]='["/admin"]'>Admin</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus" >
          <a class="nav-link text-dark"  [routerLink]='["/messages"]'>Berichten</a>
        </li>
        <li class="nav-item" *ngIf="!(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-dark" *ngIf="loginStatus" [routerLink]='["/login"]'></a>
        </li>
        
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="btn btn-primary text-white" (click)="onLogOut()" *ngIf="loginStatus">Logout</a>
        </li>

      </ul>


    </div>

  </nav>
</header>
