

<!-- ADD HOUSE MODAL START-->

<button class="btn btn-warning mb-3 float-right text-uppercase"  (click)="onContact()" ><i class="fa fa-plus"></i> Contact</button><br>

<ng-template #contactTemplate>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase"></p>
    <form [formGroup]="fc.contactForm" (ngSubmit)="onSubmit()" >
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="houseTitle"><i class="fa fa-pencil-square-o"></i></span>
            </div>
           
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" aria-label="name" aria-describedby="houseTitle">
          </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <input id="email" formControlName="email" type="text" class="form-control" placeholder="eg: johndoe@gmail.com">
              </div>
        </li>
        <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
              
              <span class="input-group-text" id="message"><i class="fa fa-pencil-square-o"></i></span>
              </div>
              <textarea formControlName="message" placeholder="Message" class="form-control" aria-label="Description" aria-describedby="messageClient"></textarea>
            </div>
          </li>
        <li class="list-group-item">
          <button  [disabled]="fc.contactForm.invalid"  (click)="modalProp.modalRef.hide()" class="btn btn-primary btn-block">SEND</button>
        </li>
      </ul>

    
      </form>
  </div>
</ng-template>

<!-- ADD HOUSE MODAL START-->