
<ng-template #nohouse>
  <h2>No House to Display</h2>
</ng-template>
<div class="container" *ngIf="house;else nohouse">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <img [src]="selectedHouseImage" /></div>
          </div>
          <div class="img-small-wrap">
            <div class="item-gallery" *ngFor="let fullImageUrl of this.images"> <img [src]="fullImageUrl" (click)="selectedHouseImage = fullImageUrl" /> </div>
          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="title mb-3">{{house.name | uppercase}}</h3>
          <p class="price-detail-wrap">
            <span class="price h3 text-warning">
              <span class="currency">EUR </span><span
                class="num">{{house.price | currency:'EUR':'symbol-narrow':'.2'}}</span>
            </span>
          </p> <!-- price-detail-wrap .// -->
          <dl class="item-property">
            <dt class="text-uppercase text-primary"><u>Description</u></dt>
            <dd>
              <p [innerHTML]='house.description'>
                {{house.description}}
              </p>
            </dd>
          </dl>
          <hr>
          <hr>
          <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <app-contact-modal></app-contact-modal>
            <button class="btn btn-warning mb-3 float-right text-uppercase" [routerLink]="['/houses']"><i
                class="fa fa-plus"></i> Terug</button>
          </div>
          <agm-map [latitude]="house.latitude" [longitude]="house.longitude">
            <agm-marker [latitude]="house.latitude" [longitude]="house.longitude"></agm-marker>
          </agm-map>

        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
</div>