
<div class="container-fluid" *ngIf="modalProp.userRoleStatus == 'Admin'" >
    <app-add-modal></app-add-modal>
    
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
      <thead class="text-center thead-dark">
        <tr>
      
          <th>Stad</th>
          <th>Beschrijving</th>
          <th>Prijs (EUR)</th>
          <th>Foto</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let house of modalProp.houses" class="text-center">
        
          <td>{{house.name | uppercase}}</td>
          <td [innerHTML]='house.description'>{{ house.description }}</td>
          <td>{{house.price | currency: 'EUR':'symbol-narrow':'.2'}}</td>
          <td><img [src]="createImgPath(house.imageUrl)" style="float:right" width="75" /></td>
          <td> 
            <div class="btn-group-vertical">
              <app-house-select [hId]="house"></app-house-select>
              <app-update-modal [hId]="house"></app-update-modal>
              <app-delete-modal [hId]="house"></app-delete-modal>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

