




          <!-- <app-update-modal></app-update-modal>
          <app-delete-modal></app-delete-modal>
          <app-house-select></app-house-select>
     -->
    
  
<!-- 
<div class="container">
      <div class="row">
            <div class="col"  *ngFor="let house of modalProp.houses">
                <img [src]="house.imageUrl" *ngIf="house.imageUrl" width="400" height="300" /><br>
                <div class="col-md-8" >
                    {{house.name}}
                  </div>
             </div>
             <div class="col-md-8" >        
   </div>
</div> -->


<!-- <div class="container">
    <div class="box"  *ngFor="let house of modalProp.houses">
      <img [src]="house.imageUrl">
      <span>{{house.name}}</span>
    </div>
    
  </div> -->

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welkom</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent velit ipsum, malesuada ac neque a, commodo iaculis nunc. Duis ultrices, dui quis efficitur rutrum, leo ante suscipit lacus, id egestas risus orci et mi. Suspendisse vitae suscipit leo. Etiam tristique ligula nisl, non tempor justo porttitor et. Ut ultricies euismod nisl, et feugiat nunc sollicitudin eget. Suspendisse sagittis, erat id mollis imperdiet, nisl lorem ultrices sapien, at tristique nulla dui id felis. Sed vestibulum est vel hendrerit finibus. Aliquam non orci turpis. Vestibulum a arcu nibh. Phasellus sapien tortor, rutrum ac feugiat quis, posuere vulputate metus. Suspendisse maximus tempus neque eu rhoncus. Donec dui augue, malesuada vitae mi a, facilisis tempus nisl. Nulla ultricies rhoncus mattis. In vitae augue in sem consectetur tincidunt in nec urna.</p>
     
    </div>
  </section>
  
  <div class="container">
  <figure class="snip1573" *ngFor="let house of modalProp.houses" >
      <img [src]="createImgPath(house.imageUrl)" />
      <figcaption >
        <h3>Details</h3>
      </figcaption>
      <p>
          {{house.name}}
      </p>
      <p>
         Prijs: {{house.price}}
      </p>
      <a [routerLink]="['/houses',house.houseId]"></a>
    </figure>
    </div>
   