<div class="row">

  <div class="col-md-9" style="margin-bottom: 40px">
    <input type="file" id="file" uploader="uploader" (change)="onSelectChange($event)" /><br />
    <p>{{ uploader.queue.length }}</p>
    <table class="table">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td>
            <strong>{{ item.file.name }}</strong>
          </td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-warning btn-xs" (click)="cancel(item.id)"
              ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" (click)="uploadAll()">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" (click)="cancelAll()">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
    </div>
  </div>
</div>