
<div class="container-fluid" *ngIf="modalProp.userRoleStatus == 'Admin'" >
  <!-- <app-add-modal></app-add-modal> -->
  
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>Naam</th>
        <th>Email</th>
        <th>Bericht</th>
        <th>Acties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of modalProp.contacts" class="text-center">
        <td>{{contact.name | uppercase}}</td>
        <td>{{contact.email | uppercase}}</td>
        <td>{{contact.message}}</td>
        <td>
            <div class="btn-group-vertical">
          <app-delete-message [cId]="contact"></app-delete-message>
              </div>
       </td>
      </tr>
    </tbody>
  </table>
</div>

