<section class="register-block">
    <div class="container signLog">
      <div class="row">
        <div class="col-md-4 register-sec">
          <h2 class="text-center">Register</h2>
          <form class="login-form" method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="userName" class="text-uppercase">Username</label>
              <input id="userName" formControlName="userName" type="text" class="form-control" placeholder="" required autofocus>
              <div *ngIf="userName.touched && userName.errors" class="errorMessage">
                  <span *ngIf="userName.hasError('required')">UserName is required.</span>
                  <span *ngIf="userName.hasError('maxlength')">Only 10 characters allowed for UserName.</span>
                  <span *ngIf="userName.hasError('minlength')">Atleast 5 characters needed for UserName.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="text-uppercase">Password</label>
              <input id="password" formControlName="password" type="password" class="form-control" placeholder="" required>
              <div *ngIf="password.touched && password.errors" class="errorMessage">
                  <span *ngIf="password.hasError('required')">Password is required.</span>
                  <span *ngIf="password.hasError('maxlength')">Only 10 characters allowed for password.</span>
                  <span *ngIf="password.hasError('minlength')">Atleast 5 characters needed for password.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="cpassword" class="text-uppercase">Confirm Password</label>
              <input id="cpassword" formControlName="cpassword" type="password" class="form-control" placeholder="" required>
              <div *ngIf="cpassword.touched && cpassword.errors" class="errorMessage">
                  <span *ngIf="cpassword.hasError('required')">Confirm Password is required.</span>
                  <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match.</span>
              </div>
            </div>
  
            <div class="form-group">
              <label for="email" class="text-uppercase">Email</label>
              <input id="email" formControlName="email" type="text" class="form-control" placeholder="eg: johndoe@techhowdy.com">
              <div *ngIf="email.touched && email.errors" class="errorMessage">
                  <span *ngIf="email.hasError('required')">Email is required.</span>
                  <span *ngIf="email.hasError('email')">Please provide valid email.</span>
              </div>
            </div>
  
            <div class="form-group">
              <input id="register" type="submit"  class="btn btn-login btn-block" />
            </div>
          </form>
  
        </div>
       
        </div>
      </div>
    
  </section>
  
  <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">Registration</h4>
          <button type="button" class="close pull-right" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body text-center">
        <p class="list-group-item active">{{modalMessage}}</p>
          <ul class="list-group" *ngFor="let erro of errorList">
              <li class="list-group-item">{{erro}}</li>
          </ul>
      </div>
  </ng-template>
  
  