
<div class="row"  >
    <button type="button"  class="btn btn-danger" *ngIf="modalProp.userRoleStatus == 'Admin'" (click)="onDeleteMessage(cId)" ><i class="fa fa-close"></i>Verwijder</button>
 </div>
<!-- DELETE HOUSE MODAL START-->
<ng-template #deleteMessage>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close pull-right"  (click)="modalProp.modalRef.hide()" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p class="list-group-item active text-center text-uppercase">Bent u zeker dat u dit bericht wilt verwijderen?</p>
      <form>
        <ul class="list-group">
          <li class="list-group-item">
            <button   class="btn btn-primary btn-block" (click)="onDelete()" >Ja</button>
            <button   class="btn btn-primary btn-block" (click)="modalProp.modalRef.hide()" >Nee</button>
          </li>
        </ul>
  
      </form>
  
    </div>
  </ng-template> 
  
  <!-- DELETE HOUSE MODAL END-->